<%- require('./component/header.ejs')() %>

	win下测试成功！
    真的成功啦~~~
    <h1>Hello,World!</h1>
    <h2>Across the Great Wall ,we can reach every corner in the world~</h2>
    <img src="../img/embed/1.png" />

<%- require('./component/footer.ejs')() %>