body {
  background: cadetblue;
  color: blue;
  font-size: 24px; }

canvas {
  border: 5px solid seagreen; }

ul, body {
  padding: 0;
  list-style: none;
  margin: 0;
  box-sizing: border-box; }

#color-panel, #tools {
  width: 500px; }
  #color-panel ul, #tools ul {
    overflow: hidden; }
    #color-panel ul li, #tools ul li {
      float: left;
      border: 2px solid darkolivegreen; }
      #color-panel ul li.active, #tools ul li.active {
        border: 2px solid gray; }

#fg {
  display: none;
  width: 400px;
  height: 250px; }

#__bs_notify__ {
  font-size: 12px !important; }
